version: '3.8'

services:
  neo4j:
    image: neo4j:latest
    container_name: neo4j
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_dbms_memory_heap_initial__size=512m
      - NEO4J_dbms_memory_heap_max__size=1g
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: money-laundering-server
    ports:
      - "8000:8000"
    depends_on:
      - neo4j
    environment:
      - DATABASE_URL=bolt://neo4j:password@neo4j:7687

volumes:
  neo4j_data: